@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

*{
	line-height: 22vh;
	align-content: center;
	flex-direction: column;

}


body{
	margin:0;
	padding: 0;
	display: flex;
	align-content: space-between;
	width: 100vw;
	height: 100vh;
	flex-direction: column;

}


h1{
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 2vh;
	color: crimson;
	cursor: default;
	position: relative;
}
#play{
	display: none;
}



#tada{
	
	display: flex;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 7vh;
	color: #e71e55;
	position: relative;


	
}
#penta{
	display: flex;
	color: #e71e55;
	font-size: 5vh;
	background-color: black;
	border: 0.1vh solid white;
	align-items: center;
	justify-content: center;

	
	border-radius: 9.6vh 9.6vh 9.6vh 9.6vh;
	
	position: relative;
	
	max-width: 5.4vw;
	max-height: 9.6vh;
}

input{
	display: flex;
	margin-top: 15vh;

	align-content: center;
	justify-content: center;

}

#play{
	text-align: right;
	display: fixed;
}